
body {
  font: 34px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 50px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  margin-right: 200px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 144px;
  font-weight: bold;
  line-height: 64px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: 100px 145px;
}

.game-info {
  margin-top: 30px;
  display: flex;
}
.game-board{
  display: flex;
  justify-content: center;
  align-items: center;
}
.RplayBTn button{
  width: 124px;
  height: 41px;
  font-size: 30px;
  border-radius: 10%;
}


